@font-face {
    font-family: 'menloregular';
    src: url('fonts/menlo-regular-webfont.eot');
    src: url('fonts/menlo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/menlo-regular-webfont.woff2') format('woff2'),
         url('fonts/menlo-regular-webfont.woff') format('woff'),
         url('fonts/menlo-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

*, :after, :before {
    box-sizing: border-box;
}

body{
	margin: 0;
	font: 16px/18px 'Open Sans', sans-serif;;
	color: #8e8e8e;
	font-weight: 300;
    width: 100%;
    min-width: 1300px;
    margin: 0 auto;
}