.support{
	width: 800px;
	margin: 0 auto 110px;
	font-weight: 400;
	box-shadow: 1px 1px 6px  rgba(0,0,0,.2);
	border-radius: 7px;
	position: relative;
}

.support__headline{
    color: #3e8cf2;
    padding: 15px 55px;
    background: #f9f9f9;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    position: relative;
}

.support__name{
	display: inline-block;
	position: relative;
	z-index: 2;
}

.support__headline:nth-of-type(2){
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.support__headline_close{
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	border-bottom: none;
	transition: all .4s;
	transition-delay: .3s;
}

.support__arrow{
	position: absolute;
	top: 50%;
	right: inherit;
	margin-left: 12px;
	display: inline-block;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 8px solid #3e8cf2;
	transition: all 0.3s;
	z-index: 2;
	transform: translateZ(0);
	margin-top: -3px;
}

.support__arrow:after{
	position: absolute;
	margin-left: -7px;
	margin-top: 2px;
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 8px solid #f9f9f9;
	content: '';
}

.support__arrow_close{
	transform: rotate(180deg);
}

.support__body{
	background: #fff;
	padding: 0 30px;
	overflow: hidden;
}

.support__spoiler{
	transform: translateZ(0);
	will-change: all; 
	transition: all .4s cubic-bezier(0, 0, 0.2, 1);
	margin-top: -100%;
}

.support__spoiler_open{
	margin-top: 0;
	padding: 15px 0;
}

.support__body:last-child{
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

.support__item{
	padding: 10px 0;
	border-bottom: 1px solid #EEEDED;
}

.support__body .support__item:last-child{
	border-bottom: none;
}



.support__subtitle{
    -webkit-flex-basis: 57%;
    flex-basis: 57%;
    max-width: 57%;
    padding-left: 25px;
    color: #7A8082;
}

.support__status{
    text-align: center;
    -webkit-flex-basis: 12%;
    flex-basis: 12%;
    max-width: 12%;
    position: relative;
}

.support__status:after{
	display: block;
	content: '';
	background-image: url(images/support__status.png);
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: -37px -5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

}

.support__status_not:after{
	background-position: -5px -5px;
}

.support__status_pro{
	 -webkit-flex-basis: 19%;
    flex-basis: 19%;
    max-width: 19%;
}