block footer
	footer.footer
		.footer__content
			.footer__headline Medialooks
				.footer__subtitle.
					We develop software development kits that bring together C++, C#, VB.NET and Delphi developers with he world of video codecs <br> and professional I/O equipment. Our products are used in broadcasting, digital signage, sports, medicine, security and other markets.
			.footer__btn-holder Need more info?
				a(href="#").footer__btn Contact our support & sales team!
			.footer__trademark.
				FFmpeg is a trademark of Fabrice Bellard, originator of the FFmpeg project. Blackmagic Design, DELTACAST, Bluefish444, AJA, Stream Labs, Flash and other trademarks are property of their respective owners.