block main-menu
	ul.main-menu
		li.main-menu__item
			a.main-menu__link.main-menu__link_active.logo(href="")
				img(src="images/logo.png" alt="")
		li.main-menu__item
			a.main-menu__link(href="") BLOG
		li.main-menu__item
			a.main-menu__link(href="") MFORMATS
		li.main-menu__item
			a.main-menu__link(href="") MPLATFORM
		li.main-menu__item
			a.main-menu__link(href="") DIRECTSSHOW
		li.main-menu__item
			a.main-menu__link(href="") DIRECT TAKE
		li.main-menu__item
			a.main-menu__link(href="") SERVICES
		li.main-menu__item
			a.main-menu__link(href="") SUPPORT
		li.main-menu__item
			a.main-menu__link(href="") COMPANY