extends ../layouts/main

block content 

	.content
		h1.headline MFormats SDK
			.headline__subtitle A smart video codec library for C#, VB.NET, Delphi and C++
		.row.excellence
			.row__col.row__col_sw_1 
				.excellence__ico-container
					.excellence__ico.excellence__ico_support
			.row__col.row__col_sw_3
				.excellence__desk 
					.excellence__title Supports multiply video formats
					|FFmpeg with proprietary 
					br
					|implementations of MXF and LXF
			.row__col.row__col_sw_1 
				.excellence__ico-container
					.excellence__ico.excellence__ico_professionalism
			.row__col.row__col_sw_3
				.excellence__desk
					.excellence__title Built for video professionals
					|Audio/video synchronisation, frame
					br
					|accuracy and low  latency
			.row__col.row__col_sw_1
				.excellence__ico-container
					.excellence__ico.excellence__ico_broadcasts
			.row__col.row__col_sw_3
				.excellence__desk
					.excellence__title Works with broadcast I/O
					|Low-latency  integration with Blackmagic, 
					br
					|AJA, DELTACAST, Bluefish and Stream Labs
		a(href="#").btn Download 60-day trial
		include ../blocks/code
		include ../blocks/support