.review
	.review__item
		.review__logo.review__logo_noacsport
		.review__name Alberto Rodriguez
		.review__content.
			MFormats SDK is in the core of video files processing in Nacsport’s products. We are just starting to scratch the surface of the SDK’s features set — for sure we will be using it more and more in the upcoming products.
	.review__item
		.review__logo.review__logo_picsystemsag
		.review__name Rolf Siegrist
		.review__content.
			Before MFormats SDK video was hard to deal with in a managed language like C# and the .NET framework. Now it’s a breeze. We developed a prototype for an interview system together with Medialooks in no time. From the planning up to the end product, Medialooks was the right competent partner. The future of video development is saved and we can fulfil our customers’ wishes.
	.review__item
		.review__logo.review__logo_rtg
		.review__name Kelly Lewis
		.review__content.
			Real Time Graphics uses MFormats SDK to augment their custom Ingest and Playout systems to allow for delayed HD-SDI playout and web streaming. The implementation of the required MFormats SDK functionality was rapid and trouble free. While we have only began scratching at the surface of what Medialooks’ products can offer, we look forward to implementing additional MFormats SDK functionality into both our new and legacy software and hardware systems.
	a(href="#").btn.btn_big Download 60-day trial